@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://cdn.jsdelivr.net/gh/dimigoin/dimigoincon@9e0a536bbf40b5e4aabbbee280acceaea559a4c7/css/dimigoincon.css');

* {
  user-select: none;
}

*:focus {
   outline: none;
}

::placeholder {
  color: rgb(170, 170, 170);
} 

a {
  text-decoration: none;
  color: white;
}

html {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'NanumSquareRound', sans-serif !important;
}

.footer {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
