h1 {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

p {
  margin: 0;
  margin-left: 2.5em;
  margin-bottom: 2em;
}

.content {
  margin: 0;
  padding: 0;
  text-align: center;
}

.item {
  margin: auto;
  text-align: left;
  font-size: 1.5em;
  display: table;
  border-spacing: 0.3em;
  margin-bottom: 0.5em;
  width: 90%;
  border-radius: 18px;
  border: 0.5px solid rgba(128, 128, 128, 0.2);
  box-shadow: 15px 19px 32px -18px rgba(21,19,19,.07);
  padding: 0.5em;
  
  &__thumb {
    display: table-row;
    color: rgb(172, 172, 172);
  }

  span {
    margin-right: 0.8em;
  }

  span.likes {
    margin-left: 0.3em;
  }

  span.likes,
  span.hates {
    cursor: pointer;
  }

  span.likes:hover {
    color: rgb(153, 153, 153);
  }

  span.likes.selected {
    color: rgb(154, 154, 255);
  }

  span.hates:hover {
    color: rgb(153, 153, 153);
  }

  span.hates.selected {
    color: rgb(252, 152, 152);
  }

  &__info {
    color: rgb(172, 172, 172);
    font-size: 0.7em;
    float: right;
  }

  &__strong {
    font-weight: 600;
    margin: 0 !important;
  }

  .mb-ripple {
    margin: 0;
  }
}

.music {
  margin-bottom: 0.2em;

  &__title {
    font-weight: 700;
    margin-right: 0 !important;
    margin-left: 0.3em !important;
  }

  &__artist {
    margin-left: 0.3em !important;
  }

  &__youtube {
    color: gray;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
  }

  .mb-ripple {
    float: right;
  }
}

.add {
  text-align: left;
  margin: auto;
  padding: 0.5em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: 89%;
  border-radius: 18px;
  border: 0.5px solid rgba(128, 128, 128, 0.2);
  box-shadow: 15px 19px 32px -18px rgba(21,19,19,.07);
  padding-left: 2em;

  &__content {
    display: table;
    border-spacing: 0.5em;
    width: 100%;
  }

  &__title {
    margin: 0;
    margin-top: 0.5em;
  }

  &__desc {
    width: 100%;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  &__field {
    display: table-row;
  }

  &__label,
  &__input {
    display: table-cell;
    border-radius: 12px;
    border: none;
  }

  &__label {
    font-size: 1.2em;
    width: 20%;
  }

  &__input {
    font-size: 1em;
    box-shadow: 15px 19px 32px -18px rgba(21, 19, 19, 0.2);
    padding: 0.5em;
    width: 50%;
  }

  &__submit {
    width: 100%;
    display: table-row;
    font-size: 1.2em;
    padding: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 50px;
    border: none;
    box-shadow: 15px 19px 32px -18px rgba(21, 19, 19, 0.2);
    background-color: #e83c3d;
    color: white;
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 600;
    margin-top: 0.5em;
  }

  .mb-ripple {
    width: 100%;
  }
}

.logout {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: gray;
  padding: 0.2em;
  border-radius: 8px;
  cursor: pointer;
}
