@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap');

.login {
  color: white;
  font-size: 110%;

  &__title {
    font-family: 'Black Han Sans', sans-serif;
    margin: 0;
    color: white;
    font-size: 5em;
    font-weight: normal !important;
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
  
  &__desc {
    font-size: 40px;
    font-family: 'NanumSquareRound', sans-serif;
    padding-left: 1.5rem;
    font-weight: 100;
  }

  &__form {
    display: table;
    border-spacing: 1.5rem;
  }

  &__field {
    display: table-row;
  }

  &__label,
  &__input {
    display: table-cell;
  }

  &__label {
    font-weight: 600;
    font-size: 1.5em;
  }

  &__input {
    width: 300px;
    font-size: 1.2em;
    border-radius: 8px;
    border: none;
    padding: 0.3em;
    box-shadow: 15px 19px 32px -15px rgba(255, 255, 255, 0.7);
  }

  &__input:focus {
    border: 1px solid gray;
  }

  &__btn {
    color: white;
    background-color: #ec137f;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    position: absolute;
    right: 0;
    border-radius: 8px;
    font-weight: 800;
    width: 150px;
    box-shadow: 15px 19px 32px -15px rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }

  &__btn:focus {
    border: 1px solid red;
  }

  &__wrap {
    width: fit-content;
    position: relative;
  }
}
